@import "../../common/bootstrap/dist/css/bootstrap.css";
body {
	background: #3276B1;  
}
.navbar-default .navbar-brand {
	color: #3276B1;
}
.ajax-content {
    position: relative;
    min-height: 64px;
    background: #fff;
}
.ajax-loader {
    background: #fff url(../img/ajax-loader-medium.gif) 50% 50% no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    height: 64px;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;     
}

#products {
    .thumbnail {
        min-height: 280px;
        img {
            margin-top: 10px;
        }
    }
}
footer {
    color: #fff;
}