@import "../../common/bootstrap/dist/css/bootstrap.css";
@import "compass"; 
body{
	background: #3276B1;  
}
.rotate-left-90{
    @include rotate(90deg); 
}
.rotate-left-180{
    @include rotate(180deg); 
}
.rotate-left-270{
    @include rotate(270deg); 
}
.navbar-default .navbar-brand {
	color: #3276B1;
    position: relative;
    margin-left: 3px;
    .glyphicon {
        position: absolute;
        top: 19px;
    }
    .left-bone {
        left: 0px;
        font-size: 14px
    }
    .right-bone {
        right: -3px;
        font-size: 14px;
    }
}
.ajax-content {
    position: relative;
    min-height: 64px;
    background: #fff;
}
.ajax-loader {
    background: #fff url(../img/ajax-loader-medium.gif) 50% 50% no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 64px;
    height: 64px;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;     
}

#products {
    .thumbnail {
        min-height: 280px;
        img {
            margin-top: 10px;
        }
    }
}
footer {
    p {color: #fff;}
    hr {border: 1px solid #428BCA;}
    margin-bottom: 20px;
    overflow: hidden;
}

@media (min-width: 768px){
    .navbar-header {
        float: none;
    }
    .navbar > .container .navbar-brand {
        margin-left: 0;
    }
}